*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-image:url(Background.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#main{
    width: 100%;
    height:400px;
    font-size: 1.9em;
}

#main-text{
    padding-top: 90px;
    padding-left: 110px;
    width: 800px;
}

#main h1{
    font-size: 2.76em;
    color: whitesmoke;
}

#main h2{
    line-height:8px;
    color: darkgray;
}

#main h5{
    line-height: 8px;
    color: darkgray;
}

#main p{
padding-top: 30px;
color: whitesmoke;
}

#main button{
    width: 350px;
    height: 37px;
    margin-right: 11px;
    margin-top: 20px;
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: rgba(192, 192, 192, 0.35);
    border: solid rgba(192, 192, 192,0.6);
    border-radius: 10px;
}

#about{
    border: solid rgba(192, 192, 192,0.5);
    border-radius: 15px;
    width: 650px;
    height: 330px;
    background-color: rgba(192, 192, 192,0.35);
}

h4{
    padding-left:15px;
    font-size: 1.25em;
    color: whitesmoke;
    padding-top:10px ;
}

#about-box{
    display: flex;
}

#middle{
    display:flex;
    padding-left: 110px;
    padding-top: 25px;
    gap:20px;
}


#about-box p{
    width: 400px;
    font-size: 1.15em;
    padding-left: 15px;
    padding-top: 13px;
    color: whitesmoke;
}

#about-box img{
    width: 190px;
    height: 250px;
    padding-top: 22px;
    padding-left: 30px;
}

#skills{
    border: solid rgba(192, 192, 192,0.6);
    border-radius: 15px;
    width: 240px;
    height: 165px;
    background-color: rgba(192, 192, 192,0.4);
}


#contact{
    border: solid rgba(192, 192, 192,0.6);
    border-radius: 15px;
    width: 240px;
    height: 131px;
    background-color: rgba(192, 192, 192,0.4);
    margin-top: 35px;
}

ul{
    list-style: none;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 1.1em;
    line-height: 23px;
    color: whitesmoke;
}

#projects{
    border: solid rgba(192, 192, 192,0.6);
    border-radius: 15px;
    width: 750px;
    height: 330px;
    background-color: rgba(192, 192, 192,0.4);

}

#web-sites{
    width: 695px;
    height: 250px;
    margin-top: 20px;
    margin-left: 25px;
    display:grid ;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 200px ;
    gap: 15px;
}

.site{
    border: solid rgba(192, 192, 192, 0.6);
    border-radius: 15px;
}

.site img{
    width: 220px;
    height: 110px;
    border-top-left-radius:14px ;
    border-top-right-radius: 14px;
}

.site h5{
    text-align: center;
    color: whitesmoke;
    font-size: 1.1em;
    border-bottom: 1px whitesmoke ;
}

.site p{
    text-align: center;
    color: whitesmoke;
    padding-top: 8px;
}

#view-more{
    grid-column: 1 / 4;
}

#view-more button{

    width: 707px;
    height: 40px;
    background-color:rgba(192, 192, 192, 0.2) ;
    border: solid rgba(192, 192, 192,0.6);
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1.3em;
}




